
body {
background-color: white;
font-size: 30px;
}
h1 {
	text-align: left;
	margin-left: 150px;
}

.container {
width: 1000px;
margin-left: auto;
margin-right: auto;
}

.boxW {
	float: left;
	background-color: white;
	height: 45px;
	width: 45px;
	border: 1px solid black;
	font color: white;


}

.boxB {
	float: left;
	background-color: black;
	height: 45px;
	width: 45px;
	border: 1px solid black;
}